body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/293/536/non_2x/traffic-light-on-city-streets-background-city-signal-street-sign-illustration-free-vector.jpg");
    background-size: cover;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 150px;
}
button {
    display: flex;
    margin-top: 30px;
    background-color: black;
    color: black;
    border-radius: 30px;
    text-align: center;
    
}
.lights{
   height: 200px;
   width: 100px;
   border: 2px solid black;
   border-radius: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
} 
.TrafficLight{
    display: flex;
    justify-content: center;
}
.Light{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.button{
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.btn1{
    padding-left: 15px;
}
.btn3{
    padding-left: 10px;
}
.btn2{
    padding-left: 20px;
}